//  Resets

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  background-color: $bg-color;
  font-family: $font-base;
  color: $text-color;
}

// Tipografia base
h2,
h3 {
  font-size: 1.75rem;
  font-weight: 600;
  color: $text-color;
  line-height: 1.2;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: $text-paragraph;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
