// ==========================================
// Components (Buttons, Logo, Cards, FAQ, etc.)
// ==========================================

.btn {
  display: inline-block;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 1rem 0.5rem;
  color: $bg-color;
  text-align: center;
}

.btn-contact {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 8px;
  background-color: $accent-color;
  color: $bg-color;
  border: none;
  text-align: center;
    border: 1px solid $accent-color;


  &:hover {
    background-color: $bg-color;
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}



.btn-info,
.btn-chrome,
.btn-extension {
  background-color: $primary-color;
  color: $bg-color;
}

.btn-chrome,
.btn-firefox {
  width: 45%;
}

.btn-chrome:hover {
  background-color: $bg-color;
  color: $primary-color;
  border: 2px solid $primary-color;
}

.btn-firefox {
  color: $text-color;
  border: 2px solid $text-color;
  background-color: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  &:hover {
    background-color: $bg-color;
    color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 0.5rem;
  }
}

.btn-extension {
  width: 80%;
  font-size: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  border: 2px solid $primary-color;

  &:hover {
    background-color: $bg-color;
    color: $text-color;
  }
}

.btn-info {
  width: 40%;
  white-space: nowrap;
  padding: 1rem;
  display: block;
  margin: 0 auto;
  border: 2px solid $primary-color;
  text-align: center;

  &:hover {
    background-color: $bg-color;
    color: $text-color;
    border: 2px solid $primary-color;
  }
}

@media (min-width: $bp-desktop) {
  .btn-info {
    width: auto;
    padding: 1rem 2rem;
  }
}

//  FAQ
.faq-item {
  background-color: white;
  border-bottom: 0.2px solid $text-paragraph;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: left;
  position: relative;

  summary {
    @include flex-between;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
    padding-right: 0;

    &:hover {
      color: $accent-color;
    }
  }

  p {
    margin-top: 1rem;
    font-size: 1.25rem;
    color: $text-paragraph;
    line-height: 1.5;
  }

  &[open] .faq-arrow {
    transform: rotate(180deg);
    filter: invert(25%) sepia(96%) saturate(748%) hue-rotate(345deg)
      brightness(92%) contrast(91%); /* vermell */
  }
}

.faq-arrow {
  width: 1rem;
  height: 1rem;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: invert(29%) sepia(94%) saturate(747%) hue-rotate(191deg)
    brightness(94%) contrast(92%); /* blau */
}

//  Extension Card
.extension-card {
  background-color: $bg-color;
  border-radius: 12px;
  @include card-shadow;
  @include flex-column(space-between, center, 1rem);
  height: 100%;
  text-align: center;
  padding: 1.5rem;
  max-width: 360px;
  margin: 0 auto;

  img:not(.dots) {
    width: 20%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.9rem;
  }
}
.dots {
  width: 100%;
  height: auto;
  margin: 1rem 0;
  padding: 0;
}
