// ==========================================
// Header
// ==========================================

.header {
  @include flex-between;
  padding: 5vw;
  @include centered-container;

  @media (min-width: $bp-desktop) {
    padding: 3vw;
  }
}

.logo {
  width: 50%;
  height: auto;

  img {
    @include responsive-img;
  }
}

.nav-header {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $bg-color; 
  @include flex-column(baseline, center, 2rem);
  z-index: 1000;

  @media (min-width: $bp-desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    position: static;
    background-color: transparent;
  }
}
