// ==========================================
// SCSS Mixins
// ==========================================

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// problemes menu toggle
@mixin flex-column-no-display($justify: center, $align: center, $gap: 0) {
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin flex-column($justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin responsive-img {
  width: 100%;
  height: auto;
  display: block;
}

@mixin centered-container {
  max-width: 90%; // Variar e valor màxim de contingut
  margin: 0 auto;
}

@mixin card-shadow {
  box-shadow: 9px 9px 10px 10px $shadow-color;
}
@mixin flex-row {
  flex-direction: row;
    width: 90%;
}