// Colors
$bg-color: #fdfdfd;
$text-color: #262c40;
$text-paragraph: hsl(240, 1%, 47%);
$primary-color: #5364db;
$accent-color: #ef5f5f;

// Fonts
$font-base: "Rubik", sans-serif;

// Breakpoints
$bp-desktop: 768px;
